body {
  margin: 0;
  min-height: 100vh;
  display: block;
  background-color: rgb(184, 184, 184);
  font-family: 'Roboto', sans-serif;
}

.sectionHeader {
  padding-top: 5vh;
  border-top: solid 1vh rgb(184, 184, 184);

}

/* -- NAV -- */

nav {
  width: 100%;
  max-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  /* position: fixed; */
  background-color: rgb(4, 2, 2);
  background-image: url("./resources/images/nav_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 70%;
  z-index: 10;
}

.logoContainer {
  max-width: 15%;
}

.pnglogo {
  max-width: 100%;
  height: auto;
  display: block;
}

.navmenu.main {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-content:flex-start;
}

.navmenu.main a {
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 5px 5px 5px 5px;
  padding: 5px 8px;
  border: solid 2px rgb(227, 227, 227);
  border-radius: 5px;
  color: rgb(227, 227, 227);
}

.navmenu.main li {
  margin: 10px 0px;
}

.navmenu.main a:hover {
  border: solid 2px rgb(227, 227, 227);
  color: rgb(4, 2, 2);
  background-color: rgb(227, 227, 227);
}

/* -- HEADER -- */
header,
main,
.products,
.colleagues,
footer {
  position: relative;
  margin-top: 5vh;
  background-color: rgb(228, 227, 227);
  text-align: center;
  padding-bottom: 5vh;
}

.mission,
.products,
.colleagues,
.contact {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content:space-around;
  justify-items: center;
  align-content: center;
  align-items: stretch;
  margin-bottom: 5vh;
}

.container h1,
.container p {
    background-color: rgba(244, 244, 244, 0.5);
}

.mission p {
  font-family: 'Work Sans', sans-serif;
}

.container {
  flex: 0 1 30%;  
  background-color: rgb(241, 223, 188);
  height: auto;
  text-align: center;
}

.container.family {
  background-image: url("./resources/images/family_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 90%;
}

.container.balance {
  background-image: url("./resources/images/balance_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 70%;
}

.container.efficiency {
  background-image: url("./resources/images/efficiency_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 70%;
}

/* -- PRODUCTS -- */

.at4 {
  background-image: url('./resources/images/Elolap.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 70%;
}

.mwl {
  background-image: url('./resources/images/WL_-\ alaphelyzet-3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 70%;
}

.bpr7 {
  background-image: url('./resources/images/BPR7\ isometric.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 70%;

}

/* -- COLLEAGUES -- */

.hr {
  background-image: url('./resources/images/hr.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 70%;
}

.marketing {
  background-image: url('./resources/images/marketing.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 70%;
}

.production {
  background-image: url('./resources/images/production.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 70%;
}

/* -- CONTACT US -- */

.map {
  max-width: 50vh;
  max-height: 50vh ;
}

.contact .container {
  max-height: 100%;
}

.contact {
  justify-content: space-around;
}

.location,
.email,
.phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* -- QUERIES -- */

@media screen and (max-width: 425) {
  nav {
    max-height: 25vh;
  }
  .logoContainer {
    max-width: 50%;
  }
}
